@import "./reset.css";

:root {
  font-family: Inter, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1;
  /* ^ fix for Chrome */

  --line-height: 20px;
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
  }
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: #f5f5f5;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

h1,
p,
a,
button {
  font-size: 14px;
  line-height: var(--line-height);
  font-weight: 350;
}