*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --bg: white;
  --fg: black;

  font-family: ui-sans-serif, sans-serif;
  color-scheme: light dark;
  background-color: var(--bg);
  color: var(--fg);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: black;
    --fg: white;
  }
}

#root,
#__next {
  isolation: isolate;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

html {
  -webkit-text-size-adjust: 100%;
  tab-size: 4;
}

body {
  min-height: 100vh;
  overflow: hidden;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-synthesis: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
  padding: 0;
  letter-spacing: normal;
}

a,
i,
dfn,
em,
strong,
cite {
  color: inherit;
  text-decoration: none;
  font-weight: 400;
  text-transform: none;
  font-style: normal;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
}

button {
  width: fit-content;
  appearance: none;
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
  outline: none;
  text-align: inherit;
  text-decoration: none;
  text-transform: none;
  overflow: visible;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
}

button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

ul,
ol {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after {
  content: "";
}

:focus-visible {
  outline: none;
}

::selection {
  background-color: transparent;
  color: inherit;
}

* {
  -webkit-tap-highlight-color: transparent;
}